/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-title {
  font-size: 4em;
  text-align: center;
  padding: 1em;
}
.small-main-title {
  font-size: 2em;
  text-align: center;
  text-decoration: underline;
  padding: 1em;
}
nav {
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: 0.2em solid black;
}
nav h1 {
  font-size: 2em;
}
nav .nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
nav .nav-items .nav-item {
  padding: 1em;
  font-size: 1.5em;
}
footer {
  width: 100%;
  background-color: black;
  color: white;
}
.home-find {
  width: 100vw;
  height: 100vh;
  background: url('/img/find-bg.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-find .find-food {
  background-color: white;
  border: 1px solid black;
  margin-top: 10%;
  padding: 0.5em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-find .find-food .small-title {
  font-size: 3em;
  padding: 1em;
}
.home-find .find-food .searchbox {
  border: 1px solid black;
  padding: 1em;
}
.home-find .find-food .checkboxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.home-find .find-food .checkboxes .checkbox {
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.home-find .display-food {
  padding: 2em;
  font-size: 1.3em;
}
.home-dash {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-dash .dashboard-header {
  margin-top: 1em;
  height: 35vh;
  width: 95vw;
  background: url('/img/graph.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home-dash .dashboard {
  width: 100%;
  background: url('/img/dash-bg.jpg') center no-repeat;
  background-size: cover;
}
.home-dash .dashboard .dash-item {
  border: 0.17em solid black;
  border-radius: 1%;
  margin: 1em 0em;
  background-color: white;
}
.home-dash .dashboard .dash-item .progress {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.home-dash .dashboard .dash-item .nutrient {
  padding: 1em;
  font-size: 2em;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('/img/foods-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
.home .landing-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 4em;
  margin: 30% 0%;
  border: 1px solid black;
}
.home .landing-header .get-started {
  margin-top: 1em;
  padding: 1em;
  background: none;
  border-radius: 10%;
  transition: all 0.2s ease;
}
.home .landing-header .get-started:active {
  background-color: #B93705;
  color: #C9C3B3;
}
.home .landing-header .get-started a {
  text-decoration: none;
  color: black;
}
